@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@plugin "daisyui/theme" {
    name: "light";
  default: true;
  --color-primary: #1E2A38;
  --color-secondary: "cyan-300";
  --font-mozila: "Mozilla",sans-serif ;
}